<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softdive.syncmanager.lib">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application>
        <service android:name="com.softdive.syncmanager.lib.SyncService" android:exported="false"/>
        <receiver android:name="com.softdive.syncmanager.lib.SyncNetworkReceiver" android:exported="false" android:enabled="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.softdive.syncmanager.lib.SyncPowerReceiver" android:exported="false" android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.softdive.syncmanager.lib.SyncBootReceiver" android:exported="false" android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>